.profile{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
    margin: 0 1rem;
    font-style: italic;
    align-items: center;
}

.actions{
    display: flex;
    
    background-color:azure;
    
    padding: 0 1rem;
    border-radius: 1rem; 
}

.actions button{
    border: none;
    color:blue;
    font:inherit;
    background-color: azure;
    cursor: pointer;
}

.verify{
    
    
    width: 25rem;
    padding: 1rem;
    margin: 2rem auto;
    background-color: white;
    border: 2px solid red;
    border-radius: 6px;
}

.verify button{
    
   
    padding: 1rem 2rem;
    background-color: white;
    border: none;
    color: red;
    font-size: 1.2rem;
    font-weight: 600;
}