.auth {
  width: 95%;
  max-width: 20rem;
  margin: 10rem auto;
  border-radius: 6px;
  border: 1px solid rgb(202, 215, 235);
  padding: 2rem 1rem;
}
.auth p {
  text-align: center;
  font-size: 1.5rem;
}

.fullinput {
  display: block;
  padding: 3px;
  border: 1px solid rgb(202, 215, 235);
  border-radius: 3px;
  margin-bottom: 3px;
}
input {
  outline: none;
  border: none;
  display: block;
  line-height: 1.2em;
  font-size: 14px;
}
label {
  display: block;
  font-size: 12px;
  color: slategray;
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.actions button {
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: #9f5ccc;
  border: 1px solid #9f5ccc;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
  
}
.actions p {
    font: inherit;
    font-size: 0.9rem;
    color: blue;
    text-decoration: underline;
}

.actions button:hover {
  background-color: #873abb;
  border-color: #873abb;
}

.footer{
    color: slategrey;
    font-weight: 300;
    padding: 1rem;
    text-align: center;
    margin-top: 1rem;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
}